
.mainHeader{
    width: 80%;
    display: flex;
    background-color: white;
    margin: 3px;
    padding: 10px 0px 0px 90px;

}
.mainHeader .navigation{
list-style-type: none;
display: flex;
gap: 35px;
position: relative;
top: 15px;
color: red;
padding: 20px 0px 30px 30px;
}
.mainHeader .icons{
    display: flex;
    width: 50px;
    height: 50px; 
}
.icons{
    position: relative;
    left: 750px;
    top: -10px;
    gap: 5px;
    
}
.icons img{
    border: 2px solid red;
    border-radius: 30px;
}
.mainHeader button{
    width: 120px;
    position: relative;
    left: 870px;
    top: -13px;
    padding: 10px;
    color: blue;
    background-color: chocolate;
    border-radius: 30px;
}
.posters{
    width: 96.5%;
    height: 98%;
    background-color: whitesmoke;
    padding: 30px;
    justify-items: center;
    
}
.posters .firstCard{
    width: 90%;
    height: 150%;
    display:flex;
    padding: 30px 20px 10px 20px;
    background-color:white;
    gap: 50px;
    border-radius: 20px;

}
.firstCard .character{
    height: 30px;
    list-style: none;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 20px;
}

.character #buttonActon{
    width: 100px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    background-color:rgb(215, 213, 213);
    padding: 3px;
    position: relative;
    bottom: -5px;
    color: blue;
}
.character .Content1{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: -10px;
}
.character img{
    width: 50px;
    height: 50px;
    border: 2px solid whitesmoke;
    border-radius: 30px;
    position: relative;
    top: -10px;
}
.character .name{
    position: relative;
    top: 30px;
    left: 70px;
}
.character li{
font-size: 25px;
position: relative;
bottom: -20px;
}
.posters2{
    display: flex;
    width: 90%;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    gap: 25px;
    padding: 10px 100px 20px 90px;

}
.posters2 .innerfirstcard{
display: flex;
padding: 10px 10px 10px 10px;
border: 2px solid white;
border-radius: 10px;
background-color: white;
}
.Category{
    text-align: center;
    padding: 35px 0px 0px 0px;
}
.Categories .lists{
    list-style-type: none;
    padding: 50px 0px 20px 0px;
    display: flex;
    justify-content: space-evenly;
}
.lists li{
    text-align: center;
    border: 3px solid rgb(46, 44, 44);
    border-radius: 15px;
    padding: 5px;
}
.lists li:hover{
    background-color: black;
    color: white;
    border:3px solid rgb(107, 113, 116);
}
.images{
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* space between cards */
  justify-content: center;
  

}
.firstimage{
 width: 30%;
 border-radius: 25px;
}
.images .firstimage h4{
    position: relative;
    left: 55px;
    bottom: 35px;
    font-size: 20px;
}
.images .firstimage h5{
    text-align: center;
    width: 28%;
    position: relative;
    left: 70%;
    bottom: 75px;
    border: 2px solid rgb(168, 168, 235);
    background-color: rgb(170, 170, 240);
    color: rgba(2, 2, 248, 0.973);
    border-radius: 10px;
}
.images .firstimage .icon{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: -35px;
}
.browse-button {
  text-align: center;
  margin: 30px 0;
}

.browse-button button {
  padding: 15px 28px;
  background-color: white;
  color: rgb(14, 12, 12);
  font-size: 16px;
  border:3px solid black;
  border-radius: 8px;
  width: 20%;
}

.browse-button button:hover {
  background-color: navy;
  color: white;
}
.allAuthors{
    display: flex;
    padding:5px 80px 5px 60px;
    justify-content:space-between;
}
.line {
  border: none;
  height: 2px;
  background-color: black;
  width:90%;
  margin: 20px 0;
  padding:0px 5% 1px 5%;
}
.authors{
    width: 25%;
    display:flex ;
    border: 2px solid black;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.authorsList{
    display: flex;
    justify-content: space-between;
    padding: 10px 3% 2% 4%;
}
.authors ul{
    list-style-type: none;
}
   .newsletter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #f4f4f4;
      border-radius: 12px;
      padding: 10px 3% 10px 3%;

    }
    .newsletter input {
      padding: 10px;
      width: 250px;
      border-radius: 6px;
      border: 1px solid #ccc;
      margin-right: 10px;
    }
    button:hover{
     background-color: black;
     color: aliceblue;
    }